/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  margin: 30px;
}

.title-comment {
  margin-left: 40px;
}

.comment {
  margin-top: 30px;
}

span {
  font-weight: bold;
}

.index {
  margin: 30px;
}

.box1 {
  width: 150px;
  font-size: 12px;
}

.box2 {
  width: 300px;
  font-size: 12px;
}

.content {
  margin-top: 10px;
}

.content-title {
  font-size: 20px;
}

ul {
  margin-bottom: 30px;
}

h4 {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 12px;
}

ul li {
  list-style: none;
}

.show-content {
  margin-top: 30px;
  margin-left: 30px;
  font-size: small;
}

.box3 {
 margin-left: 30px;
 margin-top: 5px;
}

.box4 {
  margin-left: 30px;
  margin-top: 30px;
}

.box5 {
  margin-top: 30px;
}

.header2 {
  margin: 30px;
}

.content2 {
  margin-top: 10px;
  margin-left: 30px;
}

.notifications {
  color: limegreen;
  margin-left: 60px;
  margin-top: 30px;
}